// media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts

$font__text: 'Poppins', sans-serif;
$font__card: 'Catamaran', sans-serif;
$font__form: 'Montserrat', sans-serif;