.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    .preview {
        width: 90%;
        @media (min-width: $breakpoint-tablet) {
                width: 60%;
                height: 100%;
                padding: 20px;
            }
        .image {
            object-fit: cover;
                width: 100%;
                height: 377px;
                margin-bottom: 50px;
            
                @media (min-width: $breakpoint-tablet) {
                    margin-bottom: 0px;
                }
        }    
        .author {
            background-color: white;
            color: #3e3e3e;
            height: 50%;
            transform: translateY(-75px);
            margin: auto;
            border-radius: 20px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            padding: 20px 8.5px 34.5px 8.5px;
            overflow-y: scroll;
            width: 95%;
            height: 214px;
            
                @media (min-width: $breakpoint-tablet) {
                    padding: 30px;
                    width: 90%;
                    height: 312px;
                    gap: 40px;
                    transform: translateY(-100px);
                }

            .articleProject {
                width: 60%;
                    &__subtitle{
                        font-size: 8px;
                        text-align: center;
                        line-height: 9.4px;
                        color: #302c42;
                            @media (min-width: $breakpoint-tablet) {
                                    font-size: 14px;
                                }
                    }
                    &__line{
                        width: 100%;
                        border: 0;
                        height: 1px;
                    
                        background-image: linear-gradient(to right,
                                rgba(255, 255, 255, 0),
                                rgba(1, 1, 1, 0.75),
                                rgba(255, 255, 255, 0));
                    }
                    &__title {
                        font-size: 14px;
                        font-family: $font__text;
                        font-weight: 500;
                        color: black;
                        margin-top: 10px;
                            @media (min-width: $breakpoint-tablet) {
                                    font-size: 20px;
                                    margin-bottom: 10px;
                            }
                    }
                    &__slogan {
                        font-family: $font__text;
                        font-weight: 500;
                        font-size: 12px;
                        margin-bottom: 10px;
                        color: #575757;
                        font-weight: 500;
                            @media (min-width: $breakpoint-tablet) {
                                font-size: 14px;
                            }
                    }
                    &__desc{
                        font-size: 8px;
                        margin-bottom: 10px;
                        line-height: 14.1px;
                            @media (min-width: $breakpoint-tablet) {
                                font-size: 12px;
                            }
                    }
                    &__technologies{
                        font-family: $font__card;
                        border-radius: 20px;
                        font-size: 10px;
                        /* width: 200px; */
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 23px;
                            @media (min-width: $breakpoint-tablet) {
                                    background-color: lightgray;
                                    border-radius: 20px;
                                    font-size: 14px;
                                    padding: 10px;
                                    width: 70%;
                                }
                            &--text {
                                font-size: 8px;
                                color: #505050;
                                font-weight: 500;
                                
                                    @media (min-width: $breakpoint-tablet) {
                                    font-size: 12px;
                                    }
                            }
                            &--icons {
                                display: flex;
                                gap: 5px;
                            }
                    }
            }
            .info-author {
                width: 40%;
                text-align: center;
                    &__image {
                        border-radius: 50%;
                        width: 70.5px;
                        height: 70.5px;
                            @media (min-width: $breakpoint-tablet) {
                                border-radius: 50%;
                                width: 80px;
                                height: 110px;
                            }
                    }
                    &__job {
                        font-weight: 500;
                        color: #909090;
                        font-size: 10px;
                        font-family: $font__card;
                            @media (min-width: $breakpoint-tablet) {
                                font-size: 14px;
                            }

                    }
                    &__name {
                        font-size: 14px;
                        font-family: $font__card;
                        font-weight: 900;
                        color: rgba(0, 0, 0, 0.8);
                            @media (min-width: $breakpoint-tablet) {
                                font-size: 16px;
                            }
                    }
            }
        }
    }
    .form {
        background-color: #302c42;
        width: 80vw;
        padding: 146px 40px 0 40px;
        background: radial-gradient(circle, rgba(64, 58, 95, 1) 13%, rgba(33, 30, 46, 1) 61%);

        @media (min-width: $breakpoint-tablet) {
            width: 40%;
            padding: 0px;
            margin-top: 25px;
        }

        &__title {
            color: #ffffff;
            text-align: center;

            @media (min-width: $breakpoint-tablet) {
                padding-top: 24px;
            }
        }
        
        &__ask-info {
            padding: 20px;
            text-align: center;
            color: white;
                &--subtitle {
                    padding-bottom: 10px;
                }
                &--line {
                    width: 100%;
                    border: 0;
                    height: 1px;
                    background-image: linear-gradient(to right,
                            rgba(255, 255, 255, 0),
                            rgba(255, 255, 255, 0.75),
                            rgba(255, 255, 255, 0));
                }
        }
        
        &__project {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: none;
                &--input {
                    background-color: #302c42;
                    border-color: white;
                    border-radius: 40px;
                    height: 42.72px;
                    color: #ffffff;
                    padding-left: 15px;
                    padding-top: 5px;
                }
                
                &--textarea {
                    background-color: #302c42;
                    border-color: white;
                    border-radius: 40px;
                    height: 42.72px;
                    color: #ffffff;
                    padding-left: 15px;
                    padding-top: 5px;
                    height: 110px;
                }
        }

        &__author {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: none;
            &--input {
                    background-color: #302c42;
                    border-color: white;
                    border-radius: 40px;
                    height: 42.72px;
                    color: #ffffff;
                    padding-left: 15px;
                    padding-top: 5px;
                }
        }

        &__buttons-img {
            text-align: center;
            &--btn {
                width: 160px;
                margin-top: 10px;
                color: white;
                text-align: center;
                border: none;
            
                height: 43px;
                background: linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%);
                border-radius: 40px;
            }
            &--btn-large {
                width: 160px;
                margin-top: 10px;
                color: white;
                text-align: center;
                border: none;

                height: 43px;
                background: linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%);
                border-radius: 40px;
                width: 200px;
                border: solid 2px white;
            }
        }

        &__card{
            color: white;
            text-align: center;
            padding: 20px;
        }
    }
    
    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        align-items:flex-start;
        padding-top: 0px;
    }
}


.main .input::placeholder,
.textarea::placeholder {
    color: #ffffff;
}



.btn-color {
    border-radius: 20px;
    width: 85px;
    height: 30px;
    font-weight: bold;
}

.btn-color-dark {
    background-color: black;
    color: white;
}


.hidden {
    display: none;
}
