@import '../core/variables.scss';

.landingPage {
    background-color: $color__green-dark;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}